@using App.Application.Models.Mail
@model ResetPasswordViewModel
@{
    Layout = "~/pages/MailTemplates/_layout.cshtml";
}


<!-- content -->
<tr>
    <td align="left" style="padding:20px ;font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d;">

        <b>Password change verification</b>
        <br /><br />
        You have requested to change your account password.
        <br />
        Please click the link below to complete the process:
        <br /><br />
        <a href='@Model.CallbackUrl'>@Model.CallbackUrl</a>
        <br /><br />
        Thank you
        <br />
        <b>B2B Holidays</b>
        <br />
        <br />
        Please don't reply directly to this email, this is a system generated message.
    </td>
</tr>

<!-- end content -->
