@page
@model Admin.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["PageTitle"] = "Forgot password confirmation";
}

<h2>@ViewData["PageTitle"]</h2>
<header>
    <p>
        Please check your email to reset your password.
    </p>
</header>

