@page
@model Admin.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["PageTitle"] = "Reset password confirmation";
}

<header>
    <h2>@ViewData["PageTitle"]</h2>

    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</header>
